
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd; /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-text {
    text-align: center;
}

.loader-overlay.dark {
    background-color: black;
}

.loader-text.dark {
    color: #6e6e6e;
}